
body {
  background-image: url("http://d2jv9003bew7ag.cloudfront.net/uploads/Haroshi-Slider.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
  background-position: center;
  padding-bottom: 200px;
  margin-top: 0px;
}
